In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [18]:
df=pd.read_csv("Churn_Modelling.csv")

In [19]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
df.shape

(10000, 14)

In [21]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [23]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [24]:
df.shape

(10000, 11)

In [25]:
df=pd.get_dummies(df,columns=["Geography","Gender"])

In [26]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,True,False,False,True,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,True,False,False,True,False
3,699,39,1,0.00,2,0,0,93826.63,0,True,False,False,True,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True,True,False

In [27]:
df.dtypes

CreditScore            int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France        bool
Geography_Germany       bool
Geography_Spain         bool
Gender_Female           bool
Gender_Male             bool
dtype: object

In [28]:
X = df.drop("Exited",axis=1)
y = df[["Exited"]]

In [29]:
X.shape

(10000, 13)

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [31]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [32]:
model=Sequential()
model.add(Dense(6,activation="relu",input_shape=(13,)))
model.add(Dense(6,activation="relu"))
model.add(Dense(6,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(X_train,y_train,epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 760us/step - accuracy: 0.3162 - loss: 6068.7222
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - accuracy: 0.6490 - loss: 37.6519
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 669us/step - accuracy: 0.8008 - loss: 5.0648
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step - accuracy: 0.7972 - loss: 3.8370
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - accuracy: 0.7815 - loss: 2.4574
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 675us/step - accuracy: 0.7882 - loss: 2.3536
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - accuracy: 0.7877 - loss: 1.9355
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 614us/step - accuracy: 0.7876 - loss: 1.5477
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - accuracy: 0.8014 - loss: 1.7056
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.7894 - loss: 1.6415
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.7965 - loss: 1.3049
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.7865 - loss: 0.9082
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 660us/step - accuracy: 0.7890 - loss: 0.9167
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - accuracy: 0.7792 - loss: 0.9355
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - accuracy: 0.7886 - loss: 0.6766
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.7716 - loss: 0.7564
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - accuracy: 0.7889 - loss: 0.6050
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 646us/step - accuracy: 0.7877 - loss: 0.6483
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step - accuracy: 0.7829 - loss: 0.8715
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - accuracy: 0.7761 - loss: 0.7779
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - accuracy: 0.7854 - loss: 0.6245
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.7590 - loss: 0.7960
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 630us/step - accuracy: 0.7790 - loss: 0.6890
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7792 - loss: 0.7094
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.7718 - loss: 0.7377
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - accuracy: 0.7820 - loss: 0.6538
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - accuracy: 0.7705 - loss: 0.6905
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7772 - loss: 0.6846
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.7816 - loss: 0.6069
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - accuracy: 0.7839 - loss: 0.6447
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.7867 - loss: 0.5763
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7813 - loss: 0.7633
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7904 - loss: 0.5417
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7753 - loss: 0.6774
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - accuracy: 0.7887 - loss: 0.5404
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7932 - loss: 0.5396
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - accuracy: 0.7920 - loss: 0.5259
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - accuracy: 0.7980 - loss: 0.5159
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.7912 - loss: 0.5172
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 614us/step - accuracy: 0.7951 - loss: 0.5097
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - accuracy: 0.7987 - loss: 0.5071
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step - accuracy: 0.7954 - loss: 0.5084
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7973 - loss: 0.5055
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - accuracy: 0.7936 - loss: 0.5068
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 630us/step - accuracy: 0.7932 - loss: 0.5095
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - accuracy: 0.7987 - loss: 0.4999
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7936 - loss: 0.5048
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.8018 - loss: 0.4988
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step - accuracy: 0.7921 - loss: 0.5121
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.7923 - loss: 0.5091

In [33]:
### Improve the accuracy